TICKET_DB_NAME=ticketdb
TICKET_DB_USER=labuser
TICKET_DB_PASSWORD=ticketdevpass

INVENTORY_DB_NAME=inventorydb
INVENTORY_DB_USER=inventoryuser
INVENTORY_DB_PASSWORD=inventorydevpass
MYSQL_ROOT_PASSWORD=rootdevpass

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin

TICKET_APP_PORT=5050
INVENTORY_APP_PORT=5051
PROMETHEUS_PORT=9091
ALERTMANAGER_PORT=9094
GRAFANA_PORT=3030